<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_6_函数_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D60A30531C2A322E0078BE67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60A30671C2A322E0078BE67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60A30721C2A322E0078BE67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
